*{

    padding: 0;
    margin: 0;
}

.main{

    background-color: rgb(217, 235, 251);
    padding-top:100px ;
    /* height: 100vh; */
    width: 100%;
    padding-bottom: 90px;
}

body{

     font-family: arial;
     box-sizing: border-box;
}

.card{

    width: 70%;
   background-color: white;
   border-radius: 20px 30px 30px 20px;
   /* height: 70vh; */
   margin: auto;
   display: flex;
box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  

}

.first_section{

    flex: 1;
    /* background-color: blue; */
     border-radius: 20px 20px 20px 20px;
   
     padding: 30px;
   
    
     
    
}

.first{

    display: flex;
    justify-content: space-between;
  height: 50px;

}

.first h1{

    font-size: 20px;
    font-family: arial;
    color: rgb(4, 0, 24);
}

.first p{

    font-size: 13px;
    color: rgba(1, 7, 36, 0.695);
    text-decoration: underline;
    text-underline-offset:3px;
   
}

label{

     font-size: 13px;
    color: rgba(2, 6, 28, 0.629);
    
    
}

.box{
    display: flex;
    width: 300px;
     border: 1.2px solid rgb(215, 230, 8);
  border-radius: 4px;
  height: 35px;
   
  

}

.img{

 background-color: rgb(215, 230, 8);
 align-items: center;
 display: flex;

}

.img img{

    width: 23px;
   height: 23px;
 
}

/* #input{

  width: 300px;
  height: 35px;
  border: 1.2px solid rgb(215, 230, 8);
  border-radius: 4px;
} */

.second{

    display: flex;
   gap: 20px;
   padding: 10px;
}

.one{

    margin-top: 10px;
}

.one p{

    font-size: 13px;
    color: rgba(1, 5, 29, 0.61);
    
}

.twenty p{

   padding: 10px;
   color: rgba(1, 1, 27, 0.941);
   font-size: 14px;
   font-weight: 600;
   
}

.twentyone .p1{

     padding: 10px;
  color: black;
   font-size: 14px;
   font-weight: 600;
}


.box1{

    width: 120px;
    height: 30px;
    border: 1px solid rgba(6, 2, 50, 0.497);
    border-radius: 5px;
     margin: 10px;
     display: flex;
     justify-content: space-between;

   
}


.years{

    background-color: rgb(211, 232, 251);
     border-radius: 0px 5px 5px 0px;
     width: 60px;
     /* padding: 10px; */
     display: flex;
     justify-content: center;
     align-items: center;
    
}

.years1 p{

     background-color: rgb(214, 233, 251);
    border-radius: 0px 5px 5px 0px;
      width: 40px;
      height: 20px;
      display: flex;
     justify-content: center;
     align-items: center;
}

.years p{

    text-align: center;
}
.two p{

    font-size: 13px;
    color: rgba(1, 5, 29, 0.546);
    padding-top: 10px;
}

.repayment{

    width: 280px;
    height: 20px;
    border: 1.6px solid rgb(238, 255, 3);
    background-color: rgb(249, 252, 207);
    margin: 10px;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
}

.repayment p{

    font-size: 14px;
    color: rgba(2, 8, 46, 0.87);
    font-weight: bold;

}

.interest{

     width: 280px;
    height: 20px;
     border: 1.6px solid rgb(181, 181, 181);
      border-radius: 5px;
       margin: 10px;
       display: flex;
    gap: 10px;
    align-items: center;
     padding: 10px;
}

.interest p{

    font-size: 14px;
    color: rgba(2, 8, 46, 0.788);
    font-weight: bold;

}

.button{

    width: 230px;
    height: 40px;
    background-color: rgb(189, 202, 3) ;
    border-radius: 30px;
    margin: 40px;
    display: flex;
    gap: 9px;
    align-items: center;
    
}
.button img{

    padding-left: 30px;

}

.button p{

  font-size: 14px;
    color: rgba(2, 8, 46, 0.788);
    font-weight: bold;
}








.second_section{

    flex: 1;
    background-color: #123041;
     border-radius: 0px 30px 30px 80px;
    
}

.second_section img{

    width: 120px;
    height: 120px;
   margin-left: 130px;
   margin-top: 120px;
}

.second_section h3{

text-align: center;
color: rgb(208, 206, 206);
}

.second_section h6{

text-align: center;
color: rgba(219, 234, 247, 0.539);
padding: 10px;
}


.second_section h1{

color: rgb(241, 238, 238);
font-size: 18px;
padding: 20px;

/* display: none; */
}


.second_section p{

    font-size: 12px;
    color: rgba(219, 234, 247, 0.539);
    padding: 10px;
    /* display: none; */

}

.bucket{

    width: 280px;
    height: 180px;
   
    border-top:5px solid rgb(255, 242, 0);
    background-color:  #0a202d;
    margin: auto;
    margin-top: 60px;
    border-radius: 10px;
    /* display: none; */
    
    
}
.cup{

    border-bottom: 1px solid grey;
    /* display: none; */
}

.bucket p{

   padding-top: 20px;
   padding-left: 20px;
   /* display: none; */
}

.bucket h2{

    color: rgb(189, 202, 3);
   padding-left: 20px;
   height: 40px;
   /* display: none; */
}

.bucket h4{

    color: rgb(234, 231, 231);
    padding: 0px 20px 0px 20px;
}

@media screen and (max-width:1440px) {
    
    body{

    background-color: rgb(217, 235, 251);
       
    }
}

@media screen and (max-width:1280px){
    
    body{
    background-color: rgb(217, 235, 251);

    }
}




@media screen and (max-width:1024px) {
    
    .main{

      padding: 0;
    }

    .card{

        width: 100%;
        display: block;
    }

    .second_section{

         border-radius: 0px;
         padding-bottom: 380px;
    }

    .box{

        width: 600px;
    }

    .box1{

        width: 270px;
    }

    .repayment{

        width: 580px;
    }

    .interest{

        width: 580px;
    }

    .button{

        width: 580px;
    }

    .button img{

        padding-left: 200px;
    }

    .bucket{
        width: 80%;
        height: 30vh;
    }

   
}




@media screen and (max-width:768px) {
   
     .main{

       padding: 0; 
    }

   
   .card{

       margin: auto;
       display: block;
       border-radius: 0px;
       width: 100%;
      
   }

  
   .first{

    justify-content: space-between;
    padding: 30px 30px 30px 0px;
   }

   label{

    padding-left: 20px;
    font-size: 17px;
   }

.box{

    width: 550px;
    margin-left: 20px;
    border: 1px solid rgba(6, 2, 50, 0.497);
} 

.img{

 background-color: rgb(219, 236, 251);

 align-items: center;
 display: flex;
 padding: 10px;

}

.second{

    gap: 40px;
}

.box1{

    width: 240px;
    height: 30px;
    
}

.one p{

    padding-left: 10px;
}

.two p{

    padding-left: 10px;
}

.repayment{

   width: 550px;
}

.interest{

    width: 550px;
}

.button{

    width: 550px;
}

.button img{

    padding-left: 160px;
}

.second_section{

      border-radius: 0px;
      padding-bottom: 200px;
}

.second_section img{

   margin-top: 40px;
   margin-left: 190px;
}

.second_section h6{

    font-size: 17px;
}

.first_section{

    border-radius: 0px;
}
  
}


@media screen and (max-width:674px) {
    
.box{

    width: 300px;
}

.box1{

    width: 120px;
}

.repayment{

    width: 300px;
}

.interest{

    width: 300px;
}

.button{

    width: 300px;
}

.button img{

    padding-left: 40px;
}
}

@media screen and (max-width:540px) {
    
    .box{

        width: 400px;
    }

    .box1{

        width: 170px;
    }

    .repayment{

        width: 400px;
    }

    .interest{

        width: 400px;
    }

    .button{

        width: 400px;
    }

    .button img{

        padding-left: 100px;
    }
}



@media screen and (max-width:425px){
    .main{

        padding-bottom: 0px;
    }
    .card{

        flex-direction: column;
         border-radius: 0px 0px 0px 0px;
         width: 80%;
         padding: 0;
    }

    .first_section{

        padding-left: 30px;
    }


.first{

    display: block;
   padding-left: 20;

}

.first h1{

    padding-left: 20px;
}

.first p{

    padding-top: 10px;
    padding-left: 20px;
}

label{

    padding-left: 20px;
}

.box{
    display: flex;
    width: 280px;
     border: 1.2px solid rgba(3, 61, 111, 0.43);
  border-radius: 4px;
  height: 35px;
  margin-left: 20px;
   
  

}

.img{

 background-color: rgb(219, 236, 251);
 align-items: center;
 display: flex;
 padding: 10px;

}

.img img{

    width: 23px;
   height: 23px;
 
}

.second{

    display: block;
   gap: 20px;
   padding: 10px;
}

.one p{

    padding-left: 10px;
}


 .box1{

    width: 280px;
    height: 35px;
    border: 1px solid rgba(6, 2, 50, 0.497);
    border-radius: 5px;
     margin: 10px;
     display: flex;
     justify-content: space-between;

   
}


.years1 p{

     background-color: rgb(214, 233, 251);
    border-radius: 0px 5px 5px 0px;
      width: 40px;
      height: 25px;
      display: flex;
     justify-content: center;
     align-items: center;
}

.button{

    margin: 40px;
    width: 230px;
  
}

.button img{

    padding-left: 20px;
}

.second_section img,h3,h6{

    display: none;
}

.second_section{

     border-radius: 0px 0px 0px 0px;
     padding-bottom: 30px;
}

.bucket{

    display: block;
}

.cup{

    display: block;
}

.bucket p{

    display: block;
}

.bucket h2{

    display: block;
}

.bucket h4{

    display: block;
}

.second_section h1{

    display: block;
}

.second_section p{

    display: block;
}

.repayment{

   width: 280px;
}

.interest{

    width: 280px;
}


}





@media screen and (max-width:430px) {
    
    .main{

       padding: 0; 
    }

    .card{

        width: 100%;
    }

    .box{

        width: 300px;
    }
    .box1{

        width: 120px;
    }

    .repayment{

        width: 300px;
    }

    .interest{

        width: 300px;
    }

    .button{

        width: 300px;
    }

    .button img{

        padding-left: 70px;
    }
}

@media screen and (max-width:414px){
    
    .main{

        padding: 0;
    }

    .card{

        width: 100%;
    }

    .first_section{

        padding: 30px;
    }
}

@media screen and (max-width:412px) {
    
    .box1{

        width: 300px;
    }
}

@media  screen and (max-width:375px) {
    
    .main{

        /* background-color: white; */
        padding: 0;
    }

    .card{

        width: 100%;
    }

    .first{

        padding: 0;
        height: 70px;
    }

   .box{

    width: 280px;
   }

   .box1{

    width: 280px;
   }

   .repayment{

    width:280px;
   }
    
   .interest{

    width: 280px;
   }

   .button{

    width: 280px;
    margin: 20px;
   }

   .button img{

    padding-left: 50px;
   }
}

@media screen and (max-width:344px) {
    .box{
        width: 250px;
    }
    .box1{
        width: 250px;
    }
    .repayment{

    width:250px;
   }
    
   .interest{

    width: 250px;
   }
   .button{
    width: 250px;
   }
}


@media screen and (max-width:320px) {
    
    .main{

        padding: 0;
    }

    .box{

        width: 200px;
    }

    .box1{

        width: 200px;
    }

    .repayment{

        width: 200px;
    }

    .interest{

        width: 200px;
    }

    .button{

        width: 220px;
        margin-left: 10px;
    }
}









