*{

    padding: 0;
    margin: 0;
}

.main{

    background-color: rgb(217, 235, 251);
    padding-top:100px ;
}

body{

     font-family: arial;
}

.card{

    width: 70%;
   background-color: white;
   height: 70vh;
   margin: auto;
   display: flex;
  

}

.first_section{

    flex: 1;
    /* background-color: blue; */
     border-radius: 20px 0px 0px 20px;
     padding: 30px;
   
    
     
    
}

.first{

    display: flex;
    justify-content: space-around;
    padding: 30px;

}

.first h1{

    font-size: 20px;
    font-family: arial;
    color: rgb(4, 0, 24);
}

.first p{

    font-size: 13px;
    color: rgba(1, 7, 36, 0.695);
    text-decoration: underline;
    text-underline-offset:3px;
   
}

label{

     font-size: 13px;
    color: rgba(2, 6, 28, 0.629);
      /* padding: 40px; */
    
}

.box{
    display: flex;
    width: 300px;
   
  

}

.img{

 background-color: rgb(215, 230, 8);
 align-items: center;
 display: flex;

}

img{

    width: 23px;
   height: 23px;
 
}

#input{

  width: 300px;
  height: 35px;
  border: 1.2px solid rgb(215, 230, 8);
  border-radius: 4px;
}

.second{

    display: flex;
   gap: 20px;
   padding: 10px;
}

.one{

    margin-top: 10px;
}

.one p{

    font-size: 13px;
    color: rgba(1, 5, 29, 0.61);
    
}

.twenty p{

   padding: 10px;
   color: rgba(1, 1, 27, 0.941);
   font-size: 14px;
   font-weight: 600;
   
}

.twentyone .p1{

     padding: 10px;
  color: black;
   font-size: 14px;
   font-weight: 600;
}


.box1{

    width: 150px;
    height: 30px;
    border: 1px solid rgba(6, 2, 50, 0.497);
    border-radius: 5px;
     margin: 10px;
     display: flex;
     justify-content: space-between;

   
}


.years{

    background-color: rgb(211, 232, 251);
     border-radius: 0px 5px 5px 0px;
     width: 60px;
     /* padding: 10px; */
     display: flex;
     justify-content: center;
     align-items: center;
    
}

.years1 p{

     background-color: rgb(214, 233, 251);
    border-radius: 0px 5px 5px 0px;
      width: 40px;
      height: 20px;
      display: flex;
     justify-content: center;
     align-items: center;
}

.years p{

    text-align: center;
}
.two p{

    font-size: 13px;
    color: rgba(1, 5, 29, 0.546);
    padding-top: 10px;
}









.second_section{

    flex: 1;
    /* background-color: black; */
     border-radius: 0px 30px 30px 50px;
}